In [528]:
import pandas
#On charge le fichier excel
df = pandas.read_excel("resultat20221.xlsx") 
df.drop(columns=df.columns[df.columns == ""], inplace=True)

#On supprime les colonnes inutiles 
df.drop(columns=["Libellé du département","Inscrits","Votants","% Vot/Ins","Libellé de la circonscription","Code du b.vote","% Voix/Ins.1","% Voix/Exp.1","% Voix/Ins.2","% Voix/Exp.2","% Voix/Ins.3","% Voix/Exp.3","% Voix/Ins.4","% Voix/Exp.4","% Voix/Ins.5","% Voix/Exp.5","% Voix/Ins.6","% Voix/Exp.6","% Voix/Ins.7","% Voix/Exp.7","% Voix/Ins.8","% Voix/Exp.8","% Voix/Ins.9","% Voix/Exp.9","% Voix/Ins.10","% Voix/Ins.11","% Voix/Exp.11","% Voix/Exp.10","Code de la circonscription","Code de la commune",'% Voix/Ins', 'Sexe','Sexe.1','Sexe.2','Sexe.3','Sexe.4','Sexe.5','Sexe.6','Sexe.7','Sexe.8','Sexe.9', 'Exprimés', "N°Panneau","N°Panneau.1","N°Panneau.2","N°Panneau.3","N°Panneau.4","N°Panneau.5","N°Panneau.6","N°Panneau.7","N°Panneau.8","% Voix/Exp","% Blancs/Ins","% Blancs/Vot","% Nuls/Ins","% Nuls/Vot","% Exp/Ins","% Exp/Vot","% Abs/Ins","d","N°Panneau.9","Sexe.10"], inplace=True)

#On regroupe les colonnes Abstentions,Blancs et Nuls pour faire une seule colonne
df['null'] = df['Abstentions'] + df['Blancs'] + df['Nuls']
df.drop(columns=['Abstentions', 'Blancs', 'Nuls'], inplace=True)


df.head(5)

,Code du département,Libellé de la commune,Nom,Prénom,Voix,Nom.1,Prénom.1,Voix.1,Nom.2,Prénom.2,...,Voix.9,Nom.10,Prénom.10,Voix.10,Nom.11,Prénom.11,Voix.11,Unnamed: 103,131,null
0,01,L'Abergement-Clémenciat,ARTHAUD,Nathalie,3,ROUSSEL,Fabien,6,MACRON,Emmanuel,...,26,POUTOU,Philippe,3,DUPONT-AIGNAN,Nicolas,21,NaN,NaN,125
1,01,L'Abergement-de-Varey,ARTHAUD,Nathalie,2,ROUSSEL,Fabien,7,MACRON,Emmanuel,...,8,POUTOU,Philippe,3,DUPONT-AIGNAN,Nicolas,0,NaN,NaN,42
2,01,Ambérieu-en-Bugey,ARTHAUD,Nathalie,4,ROUSSEL,Fabien,30,MACRON,Emmanuel,...,40,POUTOU,Philippe,8,DUPONT-AIGNAN,Nicolas,13,NaN,NaN,289
3,01,Ambérieu-en-Bugey,ARTHAUD,Nathalie,6,ROUSSEL,Fabien,13,MACRON,Emmanuel,...,42,POUTOU,Philippe,4,DUPONT-AIGNAN,Nicolas,20,NaN,NaN,286
4,01,Ambérieu-en-Bugey,ARTHAUD,Nathalie,8,ROUSSEL,Fabien,18,MACRON,Emmanuel,...,35,POUTOU,Philippe,3,DUPONT-AIGNAN,Nicolas,19,NaN,NaN,264

In [529]:
#on récupère la colonne voix qui a le plus de voix dans chaque ligne
colonnes_Voix = df.filter(like='Voix')
max_values = colonnes_Voix.max(axis=1)
idxmax_values = colonnes_Voix.idxmax(axis=1)

#on récupère la valeure de la colonne nom qui est juste avant chaque colonne récupérer ci-dessus pour créer une colonnes gagnant(e) dans chaque ligne et y ajouter cette veleure 
df['gagnant(e)'] = ''
for i, maxValCol in enumerate(idxmax_values):
    liste_colonnes = df.columns
    preceding_column_id = df.columns.get_loc(maxValCol) - 1
    precedingg_column_id = df.columns.get_loc(maxValCol) - 2
    ligne = i
    colonne_a_modifier = liste_colonnes[preceding_column_id]
    colonne_a_modifier2 = liste_colonnes[precedingg_column_id]
    nouvelle_valeur = df.loc[ligne, colonne_a_modifier]
    nouvelle_valeur2 = df.loc[ligne, colonne_a_modifier2]
    #print(nouvelle_valeur)
    #print(maxValCol)
    df.loc[i, 'gagnant(e)'] = str(nouvelle_valeur) + ' ' + str(nouvelle_valeur2)

In [530]:
#On supprime toutes les colonnes prénom
colonnes_prenom = df.filter(like='Prénom')
df = df.drop(columns=colonnes_prenom)
df.head(5)

,Code du département,Libellé de la commune,Nom,Voix,Nom.1,Voix.1,Nom.2,Voix.2,Nom.3,Voix.3,...,Nom.9,Voix.9,Nom.10,Voix.10,Nom.11,Voix.11,Unnamed: 103,131,null,gagnant(e)
0,01,L'Abergement-Clémenciat,ARTHAUD,3,ROUSSEL,6,MACRON,150,LASSALLE,18,...,PÉCRESSE,26,POUTOU,3,DUPONT-AIGNAN,21,NaN,NaN,125,Emmanuel MACRON
1,01,L'Abergement-de-Varey,ARTHAUD,2,ROUSSEL,7,MACRON,50,LASSALLE,10,...,PÉCRESSE,8,POUTOU,3,DUPONT-AIGNAN,0,NaN,NaN,42,Emmanuel MACRON
2,01,Ambérieu-en-Bugey,ARTHAUD,4,ROUSSEL,30,MACRON,159,LASSALLE,24,...,PÉCRESSE,40,POUTOU,8,DUPONT-AIGNAN,13,NaN,NaN,289,Marine LE PEN
3,01,Ambérieu-en-Bugey,ARTHAUD,6,ROUSSEL,13,MACRON,201,LASSALLE,19,...,PÉCRESSE,42,POUTOU,4,DUPONT-AIGNAN,20,NaN,NaN,286,Marine LE PEN
4,01,Ambérieu-en-Bugey,ARTHAUD,8,ROUSSEL,18,MACRON,229,LASSALLE,28,...,PÉCRESSE,35,POUTOU,3,DUPONT-AIGNAN,19,NaN,NaN,264,Emmanuel MACRON

In [531]:
#On associe un candidat à une orientation politique
orientations_politiques = {
    "ARTHAUD": "gauche",
    "HIDALGO": "gauche",
    "JADOT": "gauche",
    "LASSALLE": "gauche",
    "MÉLENCHON": "gauche",
    "POUTOU": "gauche",
    "ROUSSEL": "gauche",
    "DUPONT-AIGNAN": "droite",
    "LE PEN": "droite",
    "PÉCRESSE": "droite",
    "ZEMMOUR": "droite",
    "MACRON": "milieu",

}

# Filtrer les colonnes contenant 'Nom'
colonnes_nom = df.filter(like='Nom')



# Créer un dictionnaire de correspondance pour le renommage des colonnes
column_mapping = {}
for colonne in colonnes_nom.columns:
    candidat = df.at[1, colonne]
    if candidat in orientations_politiques:
        orientation = orientations_politiques[candidat]
        column_mapping[colonne] = orientation




# Convertir les ensembles en listes
column_mapping = {str(k): str(v) for k, v in column_mapping.items()}

# Renommer les colonnes 'Nom...' par l'orientation politique du nom qui y est stocké (voir ci-dessous)
df.rename(columns=column_mapping, inplace=True)
df.head(5)

,Code du département,Libellé de la commune,gauche,Voix,gauche,Voix.1,milieu,Voix.2,gauche,Voix.3,...,droite,Voix.9,gauche,Voix.10,droite,Voix.11,Unnamed: 103,131,null,gagnant(e)
0,01,L'Abergement-Clémenciat,ARTHAUD,3,ROUSSEL,6,MACRON,150,LASSALLE,18,...,PÉCRESSE,26,POUTOU,3,DUPONT-AIGNAN,21,NaN,NaN,125,Emmanuel MACRON
1,01,L'Abergement-de-Varey,ARTHAUD,2,ROUSSEL,7,MACRON,50,LASSALLE,10,...,PÉCRESSE,8,POUTOU,3,DUPONT-AIGNAN,0,NaN,NaN,42,Emmanuel MACRON
2,01,Ambérieu-en-Bugey,ARTHAUD,4,ROUSSEL,30,MACRON,159,LASSALLE,24,...,PÉCRESSE,40,POUTOU,8,DUPONT-AIGNAN,13,NaN,NaN,289,Marine LE PEN
3,01,Ambérieu-en-Bugey,ARTHAUD,6,ROUSSEL,13,MACRON,201,LASSALLE,19,...,PÉCRESSE,42,POUTOU,4,DUPONT-AIGNAN,20,NaN,NaN,286,Marine LE PEN
4,01,Ambérieu-en-Bugey,ARTHAUD,8,ROUSSEL,18,MACRON,229,LASSALLE,28,...,PÉCRESSE,35,POUTOU,3,DUPONT-AIGNAN,19,NaN,NaN,264,Emmanuel MACRON

In [532]:
colonnes = df.columns.tolist()

#Ici on regroupe toutes les colonnes droite, gauche et centre pour les regouper entre elle et aditionner leurs nombres de voix

# Trouver les index de toutes les colonnes ayant le nom "gauche"
index_colonnes_gauche = [i for i, nom_colonne in enumerate(colonnes) if nom_colonne == 'gauche']
df['la gauche'] = 0
for colonne_gauche in index_colonnes_gauche:
    liste_colonnes = df.columns
    nom_colonne_recherchee = liste_colonnes[colonne_gauche + 1]
    df['la gauche'] += df[nom_colonne_recherchee]

df.drop(df.columns[index_colonnes_gauche], axis=1, inplace=True)

    
# Trouver les index de toutes les colonnes ayant le nom "droite"
index_colonnes_droite = [i for i, nom_colonne in enumerate(df.columns) if nom_colonne == 'droite']
df['la droite'] = 0
for colonne_droite in index_colonnes_droite:
    liste_colonnes = df.columns
    nom_colonne_recherchee = liste_colonnes[colonne_droite + 1]
    df['la droite'] += df[nom_colonne_recherchee]
    
df.drop(df.columns[index_colonnes_droite], axis=1, inplace=True)


# Trouver les index de toutes les colonnes ayant le nom "milieu"
index_colonnes_centre = [i for i, nom_colonne in enumerate(colonnes) if nom_colonne == 'milieu']
index_colonne_milieu = df.columns.get_loc('milieu')
nom_colonne_recherchee = liste_colonnes[index_colonne_milieu + 1]
df['milieu'] = df[nom_colonne_recherchee]

# On supprime toutes les colonnes avec le nom voix (elles ne servent plus)
df.drop(columns=["Voix","Voix.1","Voix.2","Voix.3","Voix.4","Voix.5","Voix.6","Voix.7","Voix.8","Voix.9","Voix.10","Voix.11"], inplace=True)

df.head(1)

,Code du département,Libellé de la commune,milieu,Unnamed: 103,131,null,gagnant(e),la gauche,la droite
0,01,L'Abergement-Clémenciat,150,NaN,NaN,125,Emmanuel MACRON,131,239

In [523]:
df.head(10)

,Code du département,Libellé de la commune,milieu,Unnamed: 103,131,null,gagnant(e),la gauche,la droite
0,01,L'Abergement-Clémenciat,150,NaN,NaN,125,Emmanuel MACRON,131,239
1,01,L'Abergement-de-Varey,50,NaN,NaN,42,Emmanuel MACRON,76,45
2,01,Ambérieu-en-Bugey,159,NaN,NaN,289,Marine LE PEN,322,359
3,01,Ambérieu-en-Bugey,201,NaN,NaN,286,Marine LE PEN,301,340
4,01,Ambérieu-en-Bugey,229,NaN,NaN,264,Emmanuel MACRON,365,355
5,01,Ambérieu-en-Bugey,156,NaN,NaN,236,Jean-Luc MÉLENCHON,270,271
6,01,Ambérieu-en-Bugey,132,NaN,NaN,340,Jean-Luc MÉLENCHON,312,263
7,01,Ambérieu-en-Bugey,175,NaN,NaN,296,Jean-Luc MÉLENCHON,335,346
8,01,Ambérieu-en-Bugey,189,NaN,NaN,258,Emmanuel MACRON,251,336
9,01,Ambérieu-en-Bugey,212,NaN,NaN,243,Marine LE PEN,278,396

In [533]:
# On récupère la colonnes qui a le plus de voix pour chaque ligne
max_values =  df[['la gauche', 'la droite', 'milieu']].idxmax(axis=1)

#et on créer une colonne 'Bord politique gagnant' pour chaque ligne avec l'orientation politique qui gagne pour chaque ligne
df['gagnant(e)'] = ''
for i, maxValCol in enumerate(max_values):
    liste_colonnes = df.columns
    ligne = i
    nouvelle_valeur = df.loc[ligne, maxValCol]
    df.loc[i, 'Bord politique gagnant'] = str(maxValCol)


df.head(10)

,Code du département,Libellé de la commune,milieu,Unnamed: 103,131,null,gagnant(e),la gauche,la droite,Bord politique gagnant
0,01,L'Abergement-Clémenciat,150,NaN,NaN,125,,131,239,la droite
1,01,L'Abergement-de-Varey,50,NaN,NaN,42,,76,45,la gauche
2,01,Ambérieu-en-Bugey,159,NaN,NaN,289,,322,359,la droite
3,01,Ambérieu-en-Bugey,201,NaN,NaN,286,,301,340,la droite
4,01,Ambérieu-en-Bugey,229,NaN,NaN,264,,365,355,la gauche
5,01,Ambérieu-en-Bugey,156,NaN,NaN,236,,270,271,la droite
6,01,Ambérieu-en-Bugey,132,NaN,NaN,340,,312,263,la gauche
7,01,Ambérieu-en-Bugey,175,NaN,NaN,296,,335,346,la droite
8,01,Ambérieu-en-Bugey,189,NaN,NaN,258,,251,336,la droite
9,01,Ambérieu-en-Bugey,212,NaN,NaN,243,,278,396,la droite

In [536]:
# on filtre pour garder uniquement les départements de la région concerné
df = df[(df['Code du département'] == '21') | (df['Code du département'] == '58') | (df['Code du département'] == '71') | (df['Code du département'] == '89')]

df

,Code du département,Libellé de la commune,milieu,Unnamed: 103,131,null,gagnant(e),la gauche,la droite,Bord politique gagnant
11662,21,Agencourt,73,NaN,NaN,74,,86,90,la droite
11663,21,Agey,45,NaN,NaN,51,,99,49,la gauche
11664,21,Ahuy,156,NaN,NaN,164,,99,199,la droite
11665,21,Ahuy,188,NaN,NaN,98,,169,204,la droite
11666,21,Aignay-le-Duc,65,NaN,NaN,64,,32,79,la droite
...,...,...,...,...,...,...,...,...,...,...
62382,89,Vireaux,8,NaN,NaN,34,,12,34,la droite
62383,89,Viviers,39,NaN,NaN,17,,9,38,milieu
62384,89,Voisines,68,NaN,NaN,105,,80,152,la droite
62385,89,Voutenay-sur-Cure,34,NaN,NaN,32,,31,59,la droite
62386,89,Yrouerre,21,NaN,NaN,45,,32,46,la droite

In [537]:
#convertit en fichier excel
df.to_excel('excel_resultat_Final.xlsx', index=False)